
.footer
    .content-footer
      .content-footer-left
        .logo-footer
          img(src='https://static.wixstatic.com/media/0a6218_dd9a68af78184de3b516a0a582cb51d7~mv2_d_1334_1334_s_2.jpg/v1/fill/w_1225,h_1079,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/0a6218_dd9a68af78184de3b516a0a582cb51d7~mv2_d_1334_1334_s_2.jpg' alt='')
        p
          | Website xem phim c&#x1EE7;a ch&uacute;ng t&ocirc;i &dstrok;&#x1B0;&#x1EE3;c t&#x1ED5;ng h&#x1EE3;p v&agrave; s&#x1B0;u t&#x1EA7;m tr&ecirc;n
          | Internet. Ch&uacute;ng t&ocirc;i kh&ocirc;ng ch&#x1ECB;u tr&aacute;ch nhi&#x1EC7;m &dstrok;&#x1ED1;i v&#x1EDB;i b&#x1EA5;t k&#x1EF3; n&#x1ED9;i dung
          | n&agrave;o &dstrok;&#x1B0;&#x1EE3;c &dstrok;&abreve;ng t&#x1EA3;i tr&ecirc;n trang web n&agrave;y. Disclaimer: This site does not
          | store any files on its server. All contents are provided by
          | non-affiliated third parties.
      .content-footer-right
        .item1
          ul.list-footer
            li
              a(href='#') Phim m&#x1EDB;i
            li
              a(href='#') Phim b&#x1ED9;
            li
              a(href='#') Phim l&#x1EBB;
            li
              a(href='#') Phim thuy&#x1EBF;t minh
            li
              a(href='#') Phim VietSub
        .item1
          ul.list-footer
            li
              a(href='#') Phim Hay
            li
              a(href='#') Phim H&agrave;n Qu&#x1ED1;c
            li
              a(href='#') Phim Trung Qu&#x1ED1;c
            li
              a(href='#') Phim Vi&#x1EC7;t Nam
            li
              a(href='#') Phim &Acirc;u M&itilde;
        .item1
          ul.list-footer
            li
              a(href='#') Tr&#x1EE3; gi&uacute;p
            li
              a(href='#') H&#x1ECF;i &dstrok;&aacute;p
            li
              a(href='#') Li&ecirc;n H&#x1EC7;
            li
              a(href='#') Tin t&#x1EE9;c


link(rel='stylesheet' href='../../../css/stylefooter.css')
