doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='../css/style.css')
#header
  .nav
    .nav-logo
      .logo
        img(src='./Component/image/482906390_1022176506441223_8519016594508489728_n.png' alt='')
    .nav-about
      .about
        a(href='#') Home
        a(href='#') About
// Phần content
.main
  .content
    .content1
      h1 Danh s&aacute;ch san pham
    .num1
      .container
        .imgg
          img(src='./Component/image/images.png' alt='')
        .name
          p Iphone 9
        .money
          p
            del 150$
            |  100$
        .sale
          p -30%
