/* Pháº§n footer */

.footer .content-footer {
  width: 100%;

  background-color: rgb(31, 41, 55);
  padding: 40px;
  color: white;
  display: flex;
}

.footer .content-footer .content-footer-left {
  max-width: 320px;
}

.footer .content-footer .content-footer-left .logo-footer {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

.footer .content-footer .content-footer-left .logo-footer img {
  object-fit: inherit;

  height: 100%;
  width: 100%;
}
.footer .content-footer .content-footer-left p {
  text-align: inherit;
}

.footer .content-footer .content-footer-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.footer .content-footer .content-footer-right .item1 {
  margin-left: 5%;
  width: 20%;
}

.footer .content-footer .content-footer-right .item1 li {
  list-style-type: none;
  line-height: 40px;
  font-size: 15px;
}
.footer .content-footer .content-footer-right .item1 li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
}

.footer .content-footer .content-footer-right .item1 li:nth-child(1) a {
  font-size: 20px;
  font-weight: bold;
  color: #ff8a00;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer .content-footer .content-footer-right .item1 li a:hover {
  color: #ff8a00;
}

@media (max-width: 1023px) {
  .footer .content-footer {
    flex-wrap: wrap;
    padding: 0 10px;
  }
  .footer .content-footer .content-footer-left {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .footer .content-footer .content-footer-right {
    width: 100%;
    justify-content: center;
  }
  .footer .content-footer .content-footer-right .item1 {
    width: calc(100% / 3);
    text-align: center;
  }
}

/* mobile */
@media (max-width: 739px) {
  .main-content .content .container .more-movie .text-movie h1 {
    font-size: 25px;
  }
}
