doctype html
block header
  include ../../partials/container1
  include ../../partials/header
  include ../../partials/container2
  link(rel="stylesheet", href="../../../../css/style.css")
  link(rel="stylesheet", href="../../../../css/headerresponsive.css")
  link(rel="stylesheet", href="../../../../Icon/themify-icons/themify-icons.css")
  script(src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js')
  #intro
      .about-intro
        .intro-content
          img(src='../../../../imgage/NOTFLIX-Fan-Edits-txt-transp-BLUE-light-baja.png', alt='')
        .intro-start
          a Watch Movie Free
  #main-content
      .content
        .container
          +Showmovie(products)
        
          #id1.section2(block='first')
            .section2-heading
              h2 PHIM LẺ MỚI CẬP NHẬT
              ul.section2-subheading
                li
                  a(href='#', data-carotype='hanhdong') Hành động
                li
                  a(href='#', data-carotype='hinhsu') Hinh Sự
                li
                  a(href='#', data-carotype='kinhdi') Kinh dị
                li
                  a(href='#', data-carotype='haihuoc') Hài hước
            ul.list-film(data-id='1')
              +showMovies(phimle)

            img(src="../../../../imgage/Bean Eater@1x-1.0s-200px-200px.svg", alt="" id="#loader" class="loader" )
            ul.list-film(data-id="2" style="display: none;")
              +showMovies(categories.hanhdong)

            ul.list-film(data-id="3" style="display: none;")          
              +showMovies(categories.hinhsu)

            ul.list-film(data-id="4" style="display: none;")          
              +showMovies(categories.kinhdi)

            ul.list-film(data-id="5" style="display: none;")          
              +showMovies(categories.haihuoc)

          .section2(block='two')
            .section2-heading
              h2 PHIM CHI&#x1EBE;U R&#x1EA0;P
              ul.section2-subheading
                li
                  a(href='#' data-year='2024') 2024
                li
                  a(href='#' data-year='2023') 2023
                li
                  a(href='#' data-year='2022') 2022
                li
                  a(href='#' data-year='2021') 2021
            ul.list-film(data-id="1")
              +showMovies(phimle)
            img(src="../../../../imgage/Bean Eater@1x-1.0s-200px-200px.svg", alt="" id="#loader" class="loader" )
            ul.list-film(data-id="2" style="display: none;")
              +showMovies(years.year2024)
            
            ul.list-film(data-id="3" style="display: none;")
              +showMovies(years.year2023)
            
            ul.list-film(data-id="4" style="display: none;")
              +showMovies(years.year2022)

            ul.list-film(data-id="5" style="display: none;")
              +showMovies(years.year2021)
            
          #id2.section2(block='three')
            .section2-heading
              h2 PHIM BỘ MỚI CẬP NHẬT
              ul.section2-subheading
                li
                  a(href='#', data-country='hanquoc') Hàn Quốc
                li
                  a(href='#', data-country='trungquoc') Trung Quốc
                li
                  a(href='#', data-country='aumi') Âu Mĩ
                li
                  a(href='#', data-country='phimbofull') PHIM Bộ FULL
            ul.list-film(data-id="1")
              +showMovies(phimbo)

            img(src="../../../../imgage/Bean Eater@1x-1.0s-200px-200px.svg", alt="" id="#loader" class="loader" )
            ul.list-film(data-id="2" style="display: none;")
              +showMovies(countries.hanquoc)
            
            ul.list-film(data-id="3" style="display: none;")
              +showMovies(countries.trungquoc)
            
            ul.list-film(data-id="4" style="display: none;")
              +showMovies(countries.aumi)

            ul.list-film(data-id="5" style="display: none;")
              +showMovies(countries.phimbofull)



          #id4.section2(block='four')
            .section2-heading
              h2 PHIM MỚI CẬP NHẬT
            ul.list-film
              +showMovies2(FilmNew)


          .section2(block='five')
            .section2-heading(style="margin: 16px 0 15px 0;")
              h2(style="margin-bottom: 0; padding: 0;") PHIM VIỆT
              ul.section2-subheading
                li
                  a(href='#' data-type="phimle") Phim lẻ Việt Nam
                li
                  a(href='#' data-type="phimbo") Phim bộ Việt Nam
            ul.list-film(data-id="1")
              +showMoviesViet(countries.vietnam)
            img(src="../../../../imgage/Bean Eater@1x-1.0s-200px-200px.svg", alt="" id="#loader" class="loader" )
            ul.list-film(data-id="2" style="display: none;")
              +showMoviesViet(phimviet.vietnamle)
            
            ul.list-film(data-id="3" style="display: none;")
              +showMoviesViet(phimviet.vietnambo)
            

  
block footer
  include ../../partials/footer
 

script.
  const products = document.querySelectorAll(".section1-film-container");
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("active");
        } else {
          entry.target.classList.remove("active");
        }
      });
    },
    {
      root: document.querySelector(".section1-film"),
      rootMargin: "0px",
      threshold: 0.6,
    }
  );

  products.forEach((product) => {
    observer.observe(product);
  });

script(src="../../../../js/script.products.js" type="module" ) 
 