doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet', href='../../../../css/stylewatchmain.css')
    link(rel="stylesheet", href="../../../../css/watchmainresponesive.css")
    link(rel="stylesheet", href="../../../../Icon/themify-icons/themify-icons.css")
  body
block header
  include ../../partials/header
  include ../../partials/container1
  include ../../partials/container2
  include ../../partials/showwatchmain
  link(rel="stylesheet", href="../../../../Icon/themify-icons/themify-icons.css")
  link(rel='stylesheet', href='../../../../css/watchresponesive.css')
  script(src='https://cdn.jsdelivr.net/npm/hls.js@latest')
#fb-root
script(async='' defer='' crossorigin='anonymous' src='https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v22.0&appId=1030927452270689')
script(src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js')
#particles-js(style='position:fixed;width:100%;height:100%;z-index:-1;')

// Thanh Header
// Phần Cotent
.main-content
  .content
    .container
      .movie
        +showmain2(film)
        .comment-fb
          .fb-comments(data-href='https://developers.facebook.com/docs/plugins/comments#configurator' data-width='100%' data-numposts='5' data-colorscheme='light' data-mobile='true' data-order-by='reverse_time' style='color: black; background-color: white')
      +showmovie2(phimbo)
block footer 
  include ../../partials/footer

script(src='../../../../js/xemtapphim.js')
script. 
  // Lấy danh sách tập
  let episodenow = document.querySelectorAll(".main-content .content .container .episode ul li a");
  // Lấy giá trị 'part' từ URL (vd: ?part=5)
 let part = window.location.href;
 let part1 = part.split("/");
  // Gán màu cho tập đang xem
  episodenow.forEach((item) => {
    if (item.title === part1[5]) {
      item.style.backgroundColor = "red";
    }
  });

  // Tự động scroll đến tập đang xem
  window.addEventListener("DOMContentLoaded", function () {
    let now = document.querySelector(
      ".main-content .content .container .episode ul li a[title='" + part1[5] + "']"
    );
    if (now) {
      now.scrollIntoView({ behavior: "smooth", inline: "center" });
    }
  }); 
